/*tag*/
html, body {
    height: 100%;
    min-height: 100%;
    min-width: 100%;
    width: 100%;
}
body {
    font-family: 'Roboto', Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 300;
}
h1, h3 {
    text-align: center;
}
/*p {*/
    /*line-height: 1em;*/
    /*margin-bottom: 0;*/
/*}*/
button {
    background: #8e44ad;
    border: none;
    border-radius: 22px;
    color: #ecf0f1;
    font-size: 24px;
    font-weight: 300;
    height: 44px;
    letter-spacing: 0px;
    padding: 0px 20px;
}

/*common*/
.align-wrapper {
    display: table;
    height: 100%;
    width: 100%;
}
.align-center {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
}
.align-top {
    display: table-header-group;
}
.align-bottom {
    display: table-footer-group;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}

/*section*/
.section {
    padding-top: 20px;
    padding-bottom: 10px;
}
.header {
    color: #ecf0f1;
    background-color: #2980b9;
}

.about {
    color: #2980b9;
    background-color: #ecf0f1;
}

.experience {
    color: #ecf0f1;
    background-color: #8e44ad;
}
.skill {
    color: #2980b9;
    background-color: #ecf0f1;
}

.contact {
    color: #ecf0f1;
    background-color: #2c3e50;
}

.introduction {
    color: #2c3e50;
}
.label {
    margin-bottom: 0;
}
.description {
    line-height: 1.2em;
    color: #bdc3c7;
    margin-bottom: 0;
}
.short {
    margin-bottom: 8px;
    margin-top: 8px;
}
.time {
    background: #2c3e50;
    border-radius: 20px;
    color: #8e44ad;
    font-weight: 400;
    margin-bottom: 8px;
    margin-top: 8px;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}

.circle {
    background-color: #2c3e50;
    border-radius: 22px;
    display: inline-block;
    height: 44px;
    margin: 8px;
    width: 44px;
}
.vertical-line {
    background-color: #ecf0f1;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    width: 4px;
}

/*svg*/
circle {
    cx: 64;
    cy: 64;
    fill: none;
    r: 62;
    stroke-width: 4;
}
text {
    dominant-baseline: central;
    fill: #2980b9;
    font-size: 36px;
    text-anchor: middle;
}
#backdrop {
    stroke: #bdc3c7;
}
#progress {
    stroke-dasharray: 389.6;
    stroke: #2980b9;
}