html, body {
    height: 100%;
    width: 100%;
}

body {
    background-attachment: fixed;
    background-image: url("/images/me.jpg");    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 16px;
}

#wrapper {
    height: 100%;
    margin: 0 auto;
    width: 100%;
}

#top {
    height: 100%;
    margin: 0 auto;
}
#top #introduce {
    bottom: 100px;
    height: 3em;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
}
#top #introduce h1 {
    font-size: 3em;
    margin: 0;
    text-align: center;
    color: #ecf0f1;
}

#feature {
    background-color: #222222;
    height: 320px;
    width: 100%;
}
#feature #charts{
    height: 320px;    
    margin: 0 auto;
}
#feature #charts .chart {
    float: left;
    height: 320px;
    position: relative;
    text-align: center;
    width: 320px;
}
#feature #charts .chart canvas {
    position: absolute;
    top: 50%; left: 50%;
    margin: -100px 0 0 -100px;
}

.container {
    width: 960px;
}
.clear {
    clear: both;
}