html, body {
    color: #eee;
    height: 100%;
}
body {
    background: rgba(0, 0, 0, 0) url(/images/my_bg.jpg) no-repeat fixed center;
    background-size: cover;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
h1 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
p {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
em {
    color: #337ab7;
}
.text-big {
    font-size: 4em;
}

#wrapper {
    height: 100%;
    min-height: 100%;
    width: 100%;
}

section#top {
    height: 100%;
    width: 100%;
}
section#top #lang-change {
    padding-top: 10px;
    text-align: right;
}
section#top #introduction {
    bottom: 30%;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;    
}
section#top #angle {
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;        
}

section#exp {
    background-color: #222222;
    width: 100%;    
}
section#exp .chart {
    margin: 0 auto;
}
section#exp .block {
    height: 60px;
    width: 100%;
}

section#skill {
    background-color: #222222;
    width: 100%;    
}
section#skill h1 {
    margin: 20px;
}

section#interest {
    background-color: #222222;
    width: 100%;
}
section#interest h1 {
    margin: 20px;
}
section#interest .icon {
    text-align: center;
}
section#interest .icon_row {
    padding-bottom: 20px;
}
section#interest .icon_row img {
    height: 128px;
    margin: auto;
    width: 128px;
}

section#contact {
    background-color: #222222;
    height: 160px;
    position: relative;
    width: 100%;
}
section#contact .center-box {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

section#footer {
    background-color: #222222;
    height: 160px;
    position: relative;
    width: 100%;
}
section#footer #google-map {
    height: 160px;
    position: absolute;
    top: 0;
    width: 100%;
}
section#footer .container {
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 20px;
}
section#footer .social {
    text-align: center;
    margin: 0 auto;
}
section#footer #copyright {
    bottom: 20px;
    position: absolute;
    width: 100%;
}

section.space {
    background-color: rgba(0, 0, 0, 0);
    height: 160px;
    width: 100%;
}

/* Language */
body:lang(en) :lang(ja) {
    display: none;
}
body:lang(en) :lang(zh) {
    display: none;
}

body:lang(ja) :lang(en) {
    display: none;
}
body:lang(ja) :lang(zh) {
    display: none;
}

body:lang(zh) :lang(en) {
    display: none;
}
body:lang(zh) :lang(ja) {
    display: none;
}